@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Encode+Sans+Semi+Expanded:wght@300&display=swap');

:root {
    --main-color: #0aad0a;
    --light-color: #f0f3f2;
    --shadow: rgba(145, 158, 171, .2) 0px 2px 4px -1px, rgba(145, 158, 171, .14) 0px 4px 5px 0px, rgba(145, 158, 171, .12) 0px 1px 10px 0px;
    --font-family: 'Encode Sans Expanded', sans-serif;
    --rating-color: #ffc908;
}

body {
    font-family: var(--font-family) !important;
}

.rating-color {
    color: var(--rating-color);
}

.cursor-pointer {
    cursor: pointer;
}

a,
a:hover {
    color: black;
    text-decoration: none;
}

.cardshadow {
    transition: all 0.5s;
}

.cardshadow:hover {
    box-shadow: 1px 1px 10px #4fa74f;

}

.card img {
    height: 350px;
    /* object-fit: cover; */
    background-position: center top;
}

.card p {
    font-size: 28px;
    font-weight: 500;
}

.product:hover {
    box-shadow: var(--shadow);
    border: solid 1px var(--main-color);
}

.product .btn {
    transition: transform 1s, opacity 1s;
    transform: translateY(100%);
    opacity: 0;
}

.product:hover .btn {
    opacity: 1;
    transform: translateY(0%);

}

.forget:hover {
    color: var(--main-color);
}

.font-sm {
    font-size: 14px;
}

.text-main,
.text-main:hover {
    color: var(--main-color);
}

.bg-main {
    background-color: var(--main-color) !important;
}

.bg-main-light {
    background-color: var(--light-color) !important;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 222;
    background-color: white;

}

.small-img {
    height: 200px;
}

.main-img {
    height: 400px;
}

.number {
    position: absolute;
    top: 0;
    transform: translateY(-50%);
}

.index {
    z-index: 55555;
    background-color: #ffffff;
    pointer-events: none;
}
.bg{
    background-color: rgba(0, 0, 0, 0.675)
}

/* Media */
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    .btn-wish {
        width: 100%;
    }
    .product .btn {
        opacity: 1;
        transform: translateY(0%);

    }
}
